@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Mali:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:root{
    --font-primary-1: 'Baloo Da 2', serif;
    --font-secundary-2: 'Josefin Slab',serif;
    --font-action-0: 'Muli', serif;

    --border-iframe-5: 5px;
    --border-iframe-10: 10px;

    --border-img-5: 5px;
    --border-img-10: 10px;

}

header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 2rem 0;
}

.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active .nav-link{
    background: #262626;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;
}

.banner{
    position: relative;
    background: url(../img/fundo1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner h2{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color: #262626;
    animation: moveBanner 1s;
}

.banner p{
    margin: 1em 0 0;
    padding: 0;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    animation: moveBanner 1.3s;
}

.btnD1{
    display: inline-block;
    margin: 1em 0 0;
    background: #ff2670;
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
    animation: moveBanner 1.5s;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(.30deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.btnD1:hover{
    color: #fff;
    text-decoration: none;
    background: #b9144b;
}

.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}

@media (max-width: 768px){
    .banner h2{
        font-size: 1.8em;
    }
}

.card-body a{
    text-decoration: none;
    color: #fff;
}

.btnD2{
    display: inline-block;
    margin: 0.3em 0 0;
    background: #aa4567;
    padding: 0.6rem 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
}

.btnD2:hover{
    color: #eee;
    text-decoration: none;
    background: #b9144b;
}

.container-imagem{
    width: 128px;   
    height: 128px;   
    position: relative;  
    overflow: hidden;
}

.centralize-image{  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    margin-top: -(ALTURA-IMAGEM / 2)px;  
    margin-left: -(LARGURA-IMAGEM /2)px;  
} 

.card-shadow{
    box-shadow: 0.5rem 1.5rem 3rem 0.5rem rgba(0, 0, 0, .4);
}

.section-header{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

.section-header p{
    font-size: 18px;
}

.single-service{
    border: 1px solid #ebebeb;
    text-align: center;
    background: #fff;
}

.service-bg{
    height: 200px;
    position: relative;
}

.service-bg-1{
    background: url(../img/abs_1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.service-bg-2{
    background: url(../img/abs_1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.service-bg-3{
    background: url(../img/abs_1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.service-bg h2{
    color: #fff;
    background: tomato;
    border: 1px solid tomato;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding: 15px;
    position: absolute;
    left: 8%;
    width: 84%;
    margin: 0;
    bottom: -25px;
    border-radius: 50px;
    letter-spacing: 3px;
}

.single-service:hover .service-bg h2{
    background: #fff;
    transition: .9s;
    color: tomato;
}

.service-text{
    padding: 50px 30px 20px;
    font-size: 15px;
    font-weight: 400;
}

.service-text p:last-child{
    margin: 0;
    line-height: 1.8;
}

.btn-area{
    display: inline-block;
    color: #333;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    text-transform: capitalize;
}

@media only screen and (max-width: 767px){
    .single-service{
        margin-top: 30px;
    }
    .service-bg h2{
        font-size: 13px;
    }
}

.contact{
    background: url(../img/abs_3.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.head{
    background: rgb(230, 100, 100);
    border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: -1px 8px 13px -4px rgba(242,94,131,1);
    -moz-box-shadow: -1px 8px 13px -4px rgba(242,94,131,1);
    box-shadow: -1px 8px 13px -4px rgba(242,94,131,1);
}

.fas{
    color: rgb(230, 100, 100);
    font-size: 27px;
}

.font-pe{
    font-family: var(--font-secundary-2);
}

.effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(230, 100, 100);
    transition: 0.4s;
}

.effect-1:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn1{
    background: rgb(230, 100, 100);
    color: white;
    border: none;
    outline: none;
    width: 145px;
    height: 40px;
    border-radius: 5px;
}